{% extends "/bases_jinja/base_class.html" %}

{% block content %}


<div class="container my-4">

    <h2 class="text-center mb-4">Subir Contenido</h2>
    
    <!-- Inicia un contenedor de cards en columna -->

        <a href="{{ url_for('main.crear_contenido', curso_id=curso.id) }}">Subir Contenido</a>
        <a href="{{ url_for('main.crear_contenido', curso_id=curso.id) }}">Subir Tarea</a>
        <a href="{{ url_for('main.crear_contenido', curso_id=curso.id) }}">Entregadas</a>

    <h3>Alumnos del Curso</h3>
    <form action="{{ url_for('main.agregar_alumno_curso', curso_id=curso.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form.alumno_id(class="form-control") }}
            <div class="input-group-append">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in estudiantes %}
            <tr>
                <td>{{ alumno.nombre_usuario }}</td>
                <td>
                    <form action="{{ url_for('main.eliminar_alumno', curso_id=curso.id, alumno_id=alumno.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}
