{% extends "bases_jinja/base_class.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Entregas para el Curso: <span class="text-primary">{{ curso.nombre }}</span></h1>

    <form method="POST" class="mb-4">
        <div class="form-group">
            <label for="evaluacion_id">Selecciona una Evaluación:</label>
            <select name="evaluacion_id" class="form-control" onchange="this.form.submit()">
                <option value="">Seleccione una evaluación</option>
                {% for evaluacion in evaluaciones %}
                    <option value="{{ evaluacion.id }}">{{ evaluacion.titulo }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if entregas %}
        <h2 class="mb-4">Entregas de la Evaluación Seleccionada</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Usuario</th>
                    <th>Respuestas</th>
                    <th>Calificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entrega in entregas %}
                    <tr>
                        <td>{{ usuarios.get(entrega.usuario_id, 'Usuario no encontrado') }}</td>
                        <td>{{ entrega.respuestas }}</td>
                        <td>{{ entrega.calificacion if entrega.calificacion is not none else 'No calificada' }}</td>
                        <td>
                            <form action="{{ url_for('main.actualizar_calificaciones', curso_id=curso.id) }}" method="POST" class="form-inline">


                                {{ form.hidden_tag() }}
                                <div class="form-group mb-2">
                                    {{ form.calificacion.label(class="sr-only") }} 
                                    {{ form.calificacion(size=10, class="form-control", value=entrega.calificacion) }}
                                </div>
                                {{ form.entrega_id(value=entrega.id) }}
                                <button type="submit" class="btn btn-primary mb-2">Actualizar</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No hay entregas disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    {% endif %}
</div>
{% endblock %}
