{% extends "bases_jinja/base_class.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Subir Evaluacion</h2>
    <form method="POST" enctype="multipart/form-data" class="needs-validation border rounded p-3" novalidate>
        {{ form.hidden_tag() }}

        <!-- Campo de Título -->
        <div class="mb-3">
            <label for="titulo" class="form-label">{{ form.titulo.label }}</label>
            {{ form.titulo(class_="form-control", id="titulo") }}
            {% for error in form.titulo.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Campo de Descripción -->
        <div class="mb-3">
            <label for="descripcion" class="form-label">{{ form.descripcion.label }}</label>
            {{ form.descripcion(class_="form-control", id="descripcion", rows=3) }}
            {% for error in form.descripcion.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Campo de Fecha de Entrega -->
        <div class="mb-3">
            <label for="entrega" class="form-label">{{ form.fecha_entrega.label }}</label>
            {{ form.fecha_entrega(class_="form-control", type="date", id="entrega") }}
            {% for error in form.fecha_entrega.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>


        <!-- Botón de Enviar -->
        <div class="mb-3">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}
