{% extends "/bases_jinja/base_class.html" %}
{% block content %}
<h1 class="text-center">Bienvenido</h1>

<div class="container mt-4">
    
    <a href="{{ url_for('main.crear_contenido', curso_id=curso.id) }}">Subir contenido</a>

    <!-- Tabla del profesor -->
    <h3>Profesor del Curso</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if profesor %}
                    <td>{{ profesor.nombre_usuario }}</td>
                    <td>
                        <form action="{{ url_for('main.cambiar_profesor', curso_id=curso.id) }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-warning">Cambiar</button>
                        </form>
                    </td>
                {% else %}
                    <td>No hay profesor asignado</td>
                    <td>
                        <form action="{{ url_for('main.cambiar_profesor', curso_id=curso.id) }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-warning">Asignar Profesor</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <!-- Tabla de alumnos -->
    <h3>Alumnos del Curso</h3>
    <form action="{{ url_for('main.agregar_alumno_curso', curso_id=curso.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form.alumno_id(class="form-control") }}
            <div class="input-group-append">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </div>
    </form>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in estudiantes %}
            <tr>
                <td>{{ alumno.nombre_usuario }}</td>
                <td>
                    <form action="{{ url_for('main.eliminar_alumno', curso_id=curso.id, alumno_id=alumno.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
